{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        
        <ul>
            {% for field in form %}
                {% if field.field.widget.input_type == 'password' %}
                    <li>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% else %}
                    <li>{{ field }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
